.Logo {
    font-family: var(--font-family-logo);
    font-weight: 700;
}

.m {
    font-size: 10vh;
    line-height: 150%;
}

.l {
    font-size:  20vh;
    line-height: 150%;

}

.xl {
    font-size:  30vh;
    line-height: 150%;

}