.app.light {
    --dark-bg: #fff;
    --bg: #eff5f6;
    --light-bg: #e2eef1;
    --invert-text: #fff;
    --text: #000000;
    --primary-el: #2F2F2F;
    --hint: #adbcc0;
    --cancel: #f77;
    --save: #62de85;
    --icon: #62de85;
    --accent: #00c8ff;
}
